<%= render "shared/header" %>

<div class='service-title'>
  <%= link_to 'そふてに', '/' , class:"title-softeni" %>
  </div>
<div class='title-contents'>
  <div class='tennis-picture'>
    <%= link_to image_tag("a048ed7dabbbe4ed073e882f542f70fc_t.jpeg", class:"tennis-court")%>
  </div>
</div>
<div class='event-contents'>
  <h2 class='title'>イベント一覧</h2>
  <ul class='event-lists'>
  <% @events.each do |event| %>
    <li class='list'>
    <%= link_to event_path(event.id), method: :get do %>
    <div class='event-img-content'>
    <%= image_tag event.image, class: "event-img" %>
    </div>
    <div class='event-info'>
      <h3 class='event-name'>
        <%= event.event %>
      </h3>
      <div class='event-date'>
        <%= event.date %>
      </div>
      <div class='event-venue'>
        <%= event.venue %>
      </div>
      <div class='event-entries'>
          参加組数
        <%= event.entries.count %>
      </div>
    </div>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
<%= render "shared/footer" %>
