<!DOCTYPE html>
<html>
  <head>
    <title>SofttennisApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer class='second-fotter'>
      <h1 class='second-fotter-logo'>
        Softeni
      </h1>
      <div class='second-fotter-text-wrap'>
        <p class='second-fotter-text'>プライバシーポリシー</p>
        <p class='second-fotter-text'>FURIMA利用規約</p>
        <p class='second-fotter-text'>特定商取引に関する表記</p>
      </div>
    </footer>
  </body>
</html>
